version: 2.1

orbs:
  python: circleci/python@2.0.3

jobs:
  build-and-test:
    steps:
      - checkout
      - run: sudo chmod 777 /usr/share/man/man1
      - run: sudo python setup.py install -f
      - run: sudo apt update
      - run: sudo apt -y install rsync
      - run: bb -V

workflows:
  main:
    jobs:
      - build-and-test

