version: 2.1

orbs:
  python: circleci/python@2.0.3

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run: sudo pip install . --force
      - run: sudo apt update
      - run: sudo apt -y install rsync
      - run: bb -V

workflows:
  main:
    jobs:
      - build-and-test

